<appender name="CONSOLE_OUTPUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern><!-- qua li dico come eseguirlo -->
    </encoder>
  </appender>
  <appender name="FILE_OUTPUT" class="ch.qos.logback.core.ConsoleAppender">
  <file>testFile.log</file>
  <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern><!-- qua li dico come eseguirlo -->
    </encoder>
  </appender>

  <root level="debug"> <!-- qui li dico di eseguirlo -->
    <appender-ref ref="CONSOLE_OUTPUT" />
      <appender-ref ref="FILE_OUTPUT" />
  </root>
</configuration>
<!-- il nome serve come identificativo dato che potrebbero esserci piu append quindi piu file  -->