<h1 class="text-center">Archivio</h1>
<div class="container">
  <select class="form-select form-select-lg my-3 w-25" aria-label=".form-select-lg example" #selectorPost (change)="cambiaNumero(selectorPost.value)">
    <option value="12" selected>12</option>
    <option value="24">24</option>
    <option value="36">36</option>
    <option value="1000000">Tutti</option>
  </select>
  <div class="row">
    <div *ngFor="let p of posts.slice(0, numeroPost);" class="col-3" >
      <app-post [post]="p"></app-post>
    </div>
  </div>
</div>

