#testoAlternato{
    border: 1px solid black;
    padding: 20px;
    margin:10px auto;
    width: 70%;
    box-shadow: 1px 1px 1px grey;
    font-family:'Bree Serif' ;
    line-height: 20px;
}
.parole{
    display:flex;
    text-align: center;
    flex-direction: column;
    animation: animazione  3s infinite ;
    color: rgb(74, 148, 228);
}

.parole i {
    position: absolute;
    margin-top:70px;
    top: -0.2px;
    left: 400px;
    color: transparent;
    animation: titolo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    align-items: flex-end;

  }
    .parole i:nth-child(2) {
        animation-delay: 5s; 
    }

    .parole i:nth-child(3) {
        animation-delay: 10s;
    }
    @keyframes titolo {
        0% {color: transparent; top: -20px}
        25% {color: rgb(74, 148, 228); top: 0px}
        50% {color: transparent; top: 20px}
    }
