<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/active">Attivi</a>
  <a routerLink="/inactive">Inattivi</a>
</nav>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="homePath" routerLink="active" [routerLinkActiveOptions]="{exact:true}">Home</a>  //sto dicendo alla navbar di rendere la parola in grassetto se mi trovo in quella pagina
          //con exact:true sto dicendo alla home di diventare in grassetto solo se mi trovo esattamente in quella pagina (perche abbiamo visto che resta sempre attiva)
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="activePath" routerLink="active">Attivi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="inactivePath" routerLink="active">Inattivi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
