<div class="card shadow my-3 mx-2 altezza">
  <img src="{{post.imgUrl}}" alt="Immagine Post {{post.id}}" class="h-50">
	<div class="card-body">
		<h3 class="card-title">{{post.title}}</h3>
		<p class="card-text">{{ (post.body.length>100) ? ( post.body | slice:0:100)+'...' : (post.body) }}</p>
		<div class="d-flex justify-content-between align-items-center position-absolute bottom-0 pb-3">
			<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToPage(post.id)">Scopri di più</button>
			</div>
		</div>
	</div>
</div>
