body{
           
    margin: 20px;
 }
 main{
     display: flex;
     background-color: rgb(245, 215, 159);
     border-radius: 20px;
 }
 img{
     margin: 10px;
 }
 h2{    
     font-family: sans-serif;
     font-weight: bold;
     color: brown;
 }
 h3{
     font-family: sans-serif;
     font-weight: bold;
     color: brown;
 }
 p{
     color: brown;
 }