



.testa{
    text-align: center;
    display:block;
    margin: 0 auto ;
    max-width: 85%;
   background-color: rgb(187, 183, 176);

}
.d1{
    text-align: center;
    background-color: rgb(212, 189, 146);
    color: rgb(124, 161, 161);
}
.parte10{
    text-align: center;
    color: rgb(28, 145, 135);
    background-color: rgb(241, 214, 163);
}

h1{
    text-align: center;
}



.p2{
    text-align: center;
}

.f2{
    text-align: center;

}


.c2{
    color: brown;
    text-align: center;
}

.c3{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}
